
<h1 id="greeting">{{greeting}}</h1>

<br>
<section id="inputArea">
	<form id="frmInput">
		<div id="divInputs" title="Enter New Data"><legend id="lgdInputHeader">Input New Workout</legend>
			<label id="lblID" type="hidden"></label>
				<input class="dataInput" id="txtID" type="hidden" name="id"><br>
			<label id="lblDate">Date (yyyy-mm-dd):</label>
				<input class="dataInput" id="txtDate" type="date" name="date" onload="getDate()"><br>
			<label id="lblExercise">Exercise:</label>
				<input class="dataInput" id="txtExercise" type="text" name="exercise" value=""><br>
			<label id="lblReps">Reps:</label>
				<input class="dataInput" id="txtReps" type="text" name="reps" value=""><br>
			<label id="lblWeight">Weight:</label>
				<input class="dataInput" id="txtWeight" type="text" name="weight" value=""><br>
			<label id="lblUnits">Units in Lbs.:</label>
				<input class="dataInput" id="chkLbs" type="checkbox" name="units" value="Lbs" checked> (uncheck for Kgs)
		</div>
		<div id="divButtons">
			<input type="Submit" class="buttons" id="btnNew" name="Submit" value="Submit as New"><br>
			<input type="hidden" class="buttons" id="btnUpdate" name="Submit" value="Submit Changes"><br>
			<input type="button" class="buttons" onclick="clearForm()" id="btnClearForm" value="Clear Form"><br>
		</div>
	</form>
	
</section>
<hr>
<section id="outputArea">
		<table id="tblOutput">
		
		</table>
		
</section>
<input type="button" id="btnResetTbl" class="buttons" onclick="location.href='http://54.213.219.47:3000/make-table';" value="Reset Table" />


<script src="js/home.js"></script>

