
<h1 id="greeting">{{greeting}}</h1>

<br>
<section id="inputArea">
	<form id="frmInput">
		<label id="lblID" type="hidden"></label>
			<input class="dataInput" id="txtID" type="hidden" name="id"><br>
		<label id="lblDate">Date (yyyy-mm-dd):</label>
			<input class="dataInput" id="txtDate" type="date" name="date" onload="getDate()" value=""><br>
		<label id="lblExercise">Exercise:</label>
			<input class="dataInput" id="txtExercise" type="text" name="exercise" value=""><br>
		<label id="lblReps">Reps:</label>
			<input class="dataInput" id="txtReps" type="text" name="reps" value=""><br>
		<label id="lblWeight">Weight:</label>
			<input class="dataInput" id="txtWeight" type="text" name="weight" value=""><br>
		<label id="lblUnits">Units in Lbs.:</label>
			<input class="dataInput" id="optLbs" type="checkbox" name="units" value="Lbs" checked> (uncheck for Kgs)
		<!-- <button id="btnSubmit">Submit</button>	-->
		<input type="Submit" id="btnNew" name="Submit" value="Submit as New"><input id="btnEdit" type="hidden" name="Submit" value="Submit Changes">
	</form>
	
</section>
<hr>
<section id="outputArea">
		<table id="tblOutput">
		
		</table>
</section>

<script src="js/home.js"></script>

