#greeting{
	margin: auto;
	color: maroon;
}

#inputArea{
	margin-left: 50px;
	margin-top: 50px;
	border-style: solid;
	border-color: teal;
	width: 500px;
}

hr{
	margin-top: 15px;
	margin-bottom: 15px;
}

#outputArea{
	
	border-style: solid;
	border-color: teal;
}

#tblOutput{
	margin-top: 10px;
	margin-bottom: 10px;
}

label{
	color: navy;
	margin-top: 10px;
	margin-left: 10px;
}

#btnSubmit{
	margin: 10px 10px 10px 10px;
}

.dataInput{
	margin-left: 20px;
}

ul{
	border-style: solid;
}

