#greeting{
	margin-left: 50px;
	color: maroon;
}

#inputArea{
	position: relative;
	margin-left: 50px;
	margin-top: 10px;
	border-style: solid;
	border-color: teal;
	width: 500px;
}

#divButtons{
	position: absolute;
	right: 25px;
	top: 25px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;	
}

hr{
	margin-top: 15px;
	margin-bottom: 15px;
	color: maroon;
}

label{
	color: navy;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
	width: 140px;
	text-align: right;
}

.buttons{
	width: 100px;
	margin: auto;
	
}

.dataInput{
	margin-left: 20px;
	margin-top: 10px;
}

table{
	border-color: DarkGreen;
}
td{
	padding: 5px;
}

th{
	padding: 5px;
	background-color: #DDDDDD;
}

#outputArea{
	width: 750px;
	border-style: solid;
	border-color: teal;
	
	
}

#tblOutput{
	width: 700px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	
}

#btnResetTbl{
	
	margin: 25px;
	background-color: #880000;
	color: #EEEEEE;
}

#colID{
	display: none;
}