#greeting{
	margin-left: 50px;
	color: maroon;
}

#inputArea{
	margin-left: 50px;
	margin-top: 50px;
	border-style: solid;
	border-color: teal;
	width: 600px;
}

hr{
	margin-top: 15px;
	margin-bottom: 15px;
	color: maroon;
}

#outputArea{
	
	border-style: solid;
	border-color: teal;
}

#tblOutput{
	margin-top: 10px;
	margin-bottom: 10px;
}

label{
	color: navy;
	margin-top: 10px;
	margin-left: 10px;
	display: inline-block;
	width: 140px;
	text-align: right;
}

#btnNew{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#btnEdit{
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dataInput{
	margin-left: 20px;
	margin-top: 10px;
}

table{
	border-color: DarkGreen;
}
td, th{
	padding: 5px;
}

#colID{
	style.visible: hidden;
}